/redmine/redmine_data/redmine/plugins/redmine_agile/.bundle/config
/redmine/redmine_data/redmine/plugins/redmine_agile/.drone.jsonnet
/redmine/redmine_data/redmine/plugins/redmine_agile/Gemfile
/redmine/redmine_data/redmine/plugins/redmine_agile/README.rdoc
/redmine/redmine_data/redmine/plugins/redmine_agile/app/controllers/agile_boards_controller.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/controllers/agile_charts_controller.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/controllers/agile_charts_queries_controller.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/controllers/agile_journal_details_controller.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/helpers/agile_boards_helper.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/helpers/agile_charts_helper.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/helpers/agile_support_helper.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/models/agile_charts_query.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/models/agile_data.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/models/agile_query.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/models/agile_statuses_collector.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_boards/_add_issue_card.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_boards/_backlog_column.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_boards/_board.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_boards/_form.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_boards/_index.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_boards/_issue_card.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_boards/_issue_tooltip.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_boards/_issues_links.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_boards/_issues_list.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_boards/_members.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_boards/_upgrade_to_pro.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_boards/agile_data.api.rsb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_boards/autocomplete.js.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_boards/index.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_boards/index.js.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_boards/inline_comment.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_boards/load_more.js.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_boards/update.js.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_charts/_agile_charts.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_charts/_chart.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_charts/_versions_show.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_charts/select_version_chart.js.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_charts/show.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_charts_queries/_form.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_charts_queries/edit.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_charts_queries/new.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_journal_details/_status_detail.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_journal_details/assignee.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_journal_details/done_ratio.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_journal_details/edit.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_journal_details/new.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/agile_journal_details/status.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/issues/_agile_data_fields.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/issues/_agile_data_labels.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/issues/_issue_spint_form.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/issues/_issue_story_points.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/issues/_issue_story_points_form.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/app/views/settings/agile/_general.html.erb
/redmine/redmine_data/redmine/plugins/redmine_agile/assets/images/agile.png
/redmine/redmine_data/redmine/plugins/redmine_agile/assets/images/fullscreen.png
/redmine/redmine_data/redmine/plugins/redmine_agile/assets/javascripts/jquery.simplecolorpicker.js
/redmine/redmine_data/redmine/plugins/redmine_agile/assets/javascripts/jquery.ui.touch-punch.js
/redmine/redmine_data/redmine/plugins/redmine_agile/assets/javascripts/redmine_agile.js
/redmine/redmine_data/redmine/plugins/redmine_agile/assets/javascripts/redmine_agile_sprint.js
/redmine/redmine_data/redmine/plugins/redmine_agile/assets/stylesheets/jquery.simplecolorpicker.css
/redmine/redmine_data/redmine/plugins/redmine_agile/assets/stylesheets/redmine_agile.css
/redmine/redmine_data/redmine/plugins/redmine_agile/config/locales/de.yml
/redmine/redmine_data/redmine/plugins/redmine_agile/config/locales/en.yml
/redmine/redmine_data/redmine/plugins/redmine_agile/config/locales/es.yml
/redmine/redmine_data/redmine/plugins/redmine_agile/config/locales/fr.yml
/redmine/redmine_data/redmine/plugins/redmine_agile/config/locales/it.yml
/redmine/redmine_data/redmine/plugins/redmine_agile/config/locales/ko.yml
/redmine/redmine_data/redmine/plugins/redmine_agile/config/locales/pt-BR.yml
/redmine/redmine_data/redmine/plugins/redmine_agile/config/locales/ru.yml
/redmine/redmine_data/redmine/plugins/redmine_agile/config/locales/zh-TW.yml
/redmine/redmine_data/redmine/plugins/redmine_agile/config/locales/zh.yml
/redmine/redmine_data/redmine/plugins/redmine_agile/config/routes.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/db/migrate/001_create_issue_status_orders.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/db/migrate/002_create_agile_colors.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/db/migrate/003_rename_issue_status_orders.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/db/migrate/004_rename_agile_ranks.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/db/migrate/005_add_story_points_to_agile_ranks.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/db/migrate/006_create_agile_sprints.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/db/migrate/007_add_sprint_id_to_agile_data.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/doc/CHANGELOG
/redmine/redmine_data/redmine/plugins/redmine_agile/doc/COPYING
/redmine/redmine_data/redmine/plugins/redmine_agile/doc/LICENSE
/redmine/redmine_data/redmine/plugins/redmine_agile/init.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/lib/redmine_agile.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/lib/redmine_agile/charts/agile_chart.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/lib/redmine_agile/charts/burndown_chart.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/lib/redmine_agile/charts/charts.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/lib/redmine_agile/charts/work_burndown_chart.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/lib/redmine_agile/helpers/agile_helper.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/lib/redmine_agile/hooks/controller_issue_hook.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/lib/redmine_agile/hooks/views_issues_hook.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/lib/redmine_agile/hooks/views_layouts_hook.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/lib/redmine_agile/hooks/views_versions_hook.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/lib/redmine_agile/patches/issue_drop_patch.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/lib/redmine_agile/patches/issue_patch.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/lib/redmine_agile/patches/issues_controller_patch.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/lib/redmine_agile/patches/project_patch.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/lib/redmine_agile/patches/projects_helper_patch.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/lib/redmine_agile/patches/queries_controller_patch.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/test/fixtures/agile_data.yml
/redmine/redmine_data/redmine/plugins/redmine_agile/test/fixtures/queries.yml
/redmine/redmine_data/redmine/plugins/redmine_agile/test/functional/agile_boards_controller_test.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/test/functional/agile_charts_controller_test.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/test/functional/agile_journal_details_controller_test.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/test/functional/issues_controller_test.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/test/functional/projects_controller_test.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/test/functional/users_controller_test.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/test/integration/api_test/agile_data_test.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/test/integration/common_views_test.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/test/test_helper.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/test/ui/agile_board_ui_test.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/test/unit/agile_data_test.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/test/unit/charts/burndown_chart_test.rb
/redmine/redmine_data/redmine/plugins/redmine_agile/test/unit/helpers/agile_boards_helper_test.rb
/redmine/redmine_data/redmine/public/plugin_assets/redmine_agile/images/agile.png
/redmine/redmine_data/redmine/public/plugin_assets/redmine_agile/images/fullscreen.png
/redmine/redmine_data/redmine/public/plugin_assets/redmine_agile/javascripts/jquery.simplecolorpicker.js
/redmine/redmine_data/redmine/public/plugin_assets/redmine_agile/javascripts/jquery.ui.touch-punch.js
/redmine/redmine_data/redmine/public/plugin_assets/redmine_agile/javascripts/redmine_agile.js
/redmine/redmine_data/redmine/public/plugin_assets/redmine_agile/javascripts/redmine_agile_sprint.js
/redmine/redmine_data/redmine/public/plugin_assets/redmine_agile/stylesheets/jquery.simplecolorpicker.css
/redmine/redmine_data/redmine/public/plugin_assets/redmine_agile/stylesheets/redmine_agile.css
/redmine/redmine_data/redmine/public/plugin_assets/redmine_crm/images/money.png
/redmine/redmine_data/redmine/public/plugin_assets/redmine_crm/images/vcard.png
/redmine/redmine_data/redmine/public/plugin_assets/redmine_crm/javascripts/Chart.bundle.min.js
/redmine/redmine_data/redmine/public/plugin_assets/redmine_crm/javascripts/select2.js
/redmine/redmine_data/redmine/public/plugin_assets/redmine_crm/javascripts/select2_helpers.js
/redmine/redmine_data/redmine/public/plugin_assets/redmine_crm/stylesheets/money.css
/redmine/redmine_data/redmine/public/plugin_assets/redmine_crm/stylesheets/select2.css
